/* Body background */
.body-class {
    background: linear-gradient(to right, #ec082a, #9398a4); /* Gradient from red to white */
    font-family: Helvetica, Arial, sans-serif;
}


/* Header */
.header-class {
    color: #ff0000; /* Bright red */
}

/* Origin Section */
.origin-section-class {
    color: #ffffff; /* White */
}

/* Image Styling */
.image-container {
    text-align: center;
}

.image-container img {
    display: block;
    margin: 0 auto;
}



/* Hero Section */
.hero-section-class {
    background: url('path-to-your-image.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
    padding: 40px;
    text-align: center;
}

/* Testimonials Section */
.testimonial-section-class {
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 20px;
}

/* Form */
.form-class {
    color: #ffffff;
}

/* FAQ Section */
.faq-section-class {
    color: #ffffff;
}

/* Newsletter Section */
.newsletter-section-class {
    color: #ffffff;
}

/* Inputs */
.input-class {
    color: #ff0000; /* Red text */
    background-color: #0d0d0d; /* Almost black */
}

/* Buttons */
.button-class {
    color: #ffffff;
    background-color: #ff0000; /* Red background */
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-class:hover {
    background-color: #b30000; /* Darker red on hover */
}

/* Section Titles */
.section-title-class {
    color: #ff0000; /* Red */
}

/* Image Border */
.image-class {
    border: 10px solid #333333; /* Dark gray */
}

/* Footer */
.footer-class {
    background-color: #000000; /* Black */
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

/* Navigation Bar */
.nav-class {
    background-color: #000000; /* Black */
    font-weight: bold;
    padding: 10px 20px;
    width: max-content;
    position: relative;
    cursor: pointer;
}

.nav-class::after {
    content: "";
    position: absolute;
    bottom: -5px;
    height: 1px;
    width: 100%;
    left: 0;
    background-color: #f8f8f8; /* Red underline */
    transition: 0.3s ease-in-out;
    transform: scaleX(0);
}

.nav-class:hover::after {
    transform: scaleX(1);
}

/* Title */
.title-class {
    color: #ffffff;
    background-color: #1a1a1a;
    text-align: left;
    padding: 1em;
    font-weight: bolder;
}

/* General Text */
.text-class {
    color: #ff1a1a;
}

/* Map Div */
#my_map_div {
    width: 100%;
    height: 500px;
    max-width: 1000px;
}

/* Individual Navigation Link Styling */
.nav-link-class {
    color: #ff0000; /* Bright red */
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-link-class:hover {
    color: #ffffff; /* Turns white on hover */
} 
.shared-background {
    background-color: #333; /* Dark background */
    color: #ffffff; /* White text for contrast */
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}
